.card {
    display: flex;
    justify-content: space-evenly;
    color: #4D5361;
    padding-bottom: 10px;
}

.card .card-img {
    width: 100%;
    height: 100%;
    max-height:210px;
    object-fit: cover;
    margin-right: 10px;
    padding-top: 10px;
    padding-left: 20px;
    
}

.card .card-body {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 15px;
}

.card .card-text {
    margin-top: 0px;
    font-size: 14px;
    text-decoration: none;
    margin-bottom: 10px;
}

.card .card-title {
    color: #4E5D82;
    font-size: 18px;
    margin-bottom: 10px;
}

.card .details {
    display: flex;
    flex-direction: row;
}

.card .cont{
    margin: auto;
    width: auto;
}

.card .icon::before{
    display: inline-block;
    margin-right: 5px; /* Espaço à direita do ícone */
    width: 15px; /* Largura do ícone */
    height: 15px; /* Altura do ícone */
}

.card .icon-area::before{
    content: url('../../assets/house-solid.svg')
}

.card .icon-bed::before{
    content: url('../../assets/bed-solid.svg')
}

.card .icon-bath::before{
    content: url('../../assets/bath-solid.svg')
}

#location, #price, #status{
    font-weight: 500;
    font-size: 16px;
}

#status {
    text-align: end;
}

#price {
    color:#6e424f;
}