.container-myadds {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container-myadds .advertisementsContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    overflow: auto;
    background-color: #D7D9DF;
    width:90%;
    margin: 0 auto;
    padding: 20px;
}

.container-myadds .advertisementsContainer div{
    flex: 0 0 calc(50% - 20px);
    margin: 1%;
    background-color: #fff;
}